<%= form_with url: '/registration', method: :post do |form| %>
  <%= form.label :contact_detail, "Enter email:" %>
  <%= form.text_field :contact_detail %>
  <br>
  <%= form.label :zipcode, "Enter zipcode:" %>
  <%= form.text_field :zipcode, value: session[:assumed_zipcode] %>
  <br>
  <%= form.submit "Register" %>
<% end %>
<% flash.each do |_type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
