<!DOCTYPE html>
<html>
  <head>
    <title>Sport DealNotifier</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--  stylesheet_link_tag "application", "data-turbo-track": "reload"  -->
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <script>
      // yanked directly from here: https://tailwindcss.com/docs/dark-mode#supporting-system-preference-and-manual-selection
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }

      // Whenever the user explicitly chooses light mode
      localStorage.theme = 'light'

      // Whenever the user explicitly chooses dark mode
      localStorage.theme = 'dark'

      // Whenever the user explicitly chooses to respect the OS preference
      localStorage.removeItem('theme')
    </script>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
